* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image {
    position: absolute;
    width: 25%;
    height: auto;
}
.imgOne {
    top: 0;
    left: -20px;
}
.imgTwo {
    top: 0;
    right: 0;
}
.positionCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 45px;
    padding: 15px;
    font-weight: 800;
    color:rgb(44, 44, 44);
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}
textarea {
    width: 500px;
    height: 120px;
    border-radius: 10px;
    border: none;
    background: rgba(236, 236, 236, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(168, 168, 168, 0.1);
    padding: 20px;
    font-size: 20px;
}
.btn {
    width: 135px;
    margin: 20px;
    background-color: #60ab5b;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.container {
    display: flex;
    justify-content: center;
}
.table {
    width: 600px;
}
.lineLogo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.line {
    background: #60ab5b;
    height: 2px;
    width: 200px;
    margin: 30px;
    border: none;
}
.calories {
    display: flex;
    justify-content: center;
    padding: 8px;
}

span {
    font-weight: 800;
}
.waveContainer {
    position: relative;
}
 


@media all and (max-width:800px) {
    textarea {
        width: 400px;
    }
    .table {
        width: 400px;
    }
    .line {
        width: 120px;
    }
}
@media all and (max-width: 550px) {
   
    h1 {
        font-size: 25px;
    }
    textarea {
        width: 320px;
        background: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(168, 168, 168, 0.5);
    }  
    .table {
        width: 350px;
    }
    
}
@media all and (max-width: 300px) {
    h1 {
        font-size: 20px;
    }
    
}